body {
  margin:0;
  height: 100vh;
  background: azure;
  background-image: url("../static/images/BG-General.png");
}
/* <<<<<<<<<<<<<<< NAV CONTENT >>>>>>>>>>>>>>>>*/
nav {
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, .3);
}
.nav-container ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  list-style-type: none;
  margin: 1rem;
}
.nav-container {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

/* <<<<<<<<<<<<<<< FOOTER CONTENT >>>>>>>>>>>>>>>>*/
footer {
  background: pink;
  padding: 1rem;
}

/* <<<<<<<<<<<<<<< HEADER CONTENT >>>>>>>>>>>>>>>>*/
.header-section {
  position: relative;
  text-align: center;
  margin: 0;
  z-index: -1;
}

.header-section img {
  width: 100vw;
  object-fit: cover;
  height: 500px;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 4rem;
  text-shadow: 5px 10px 10px black;
  -webkit-text-stroke: 3px black;
}

.header-pink {
  color: pink;
  text-align: center;
  font-size: 3rem;
}

.header-blue {
  color: aqua;
  text-align: center;
}

/* <<<<<<<<<<<<<<< PRODUCT CONTENT >>>>>>>>>>>>>>>>*/

.product-section {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem -10px;
  padding: 20px 0;
}

.product-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1rem -10px;
  padding: 20px 0;
}
.product-section img {
  border-radius: 2rem;
  border: 5px solid cornflowerblue;
  height: 60vh;
  object-fit: contain;
}

/* <<<<<<<<<<<<<<< CAROUSEL CONTENT >>>>>>>>>>>>>>>>*/
.gallery-section {
  background-color: cornflowerblue;
  padding: 1rem;
  gap: 20px;
}
.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.carousel ul {
  display: flex;
  transition: transform 0.5s ease-in-out;
  list-style: none;
  padding: 0;
  margin: 0;
  /* gap: 3px; */
}

*::before, *:after {
  box-sizing: border-box;
}
/* Carousel Items */
.carousel-item {
  flex: 0 0 33.33%;
  box-sizing: border-box;
}
/* Shown image */
.carousel-item[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-item img {
  width: 99%;
  height: 50vh;
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}


.carousel-item li {
  gap: 20px;
}
.carousel-button {
  position: absolute;
  background-color: rgba(0, 0, 0, .1);
  z-index: 2;
  border: none;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgba(255,255,255,.6);
  border-radius: 0.25rem;
  padding: 0 0.5rem;
}

.carousel-button:hover , 
.carousel-button:focus {
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, .3);
  color: white;
}

.carousel-button:focus {
  border: 1px solid  rgba(0, 0, 0, .5);
}
.carousel-button.prev {
  left: 26%;
}
.carousel-button.next {
  right: 26%;
}
/* <<<<<<<<<<<<<<< CTA CONTENT >>>>>>>>>>>>>>>>*/

.CTA-section {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.CTA-section p {
  text-align: center;
  width: 50vw;
}
