{% extends "layout.html" %}

{% block title%}
Waffles N' ScoopLanding
{% endblock %}

{% block main%}
<div>
  <!-- Header -->
  <section class="header-section">
    <img src="/static/images/Ice_cream_Photos/2D Creative.jpeg" alt="Mulitple ice-cream flavors in cups">
    <h1 class="header-text hidden-slide-l">Chilling with our Communities</h1>
  </section>
  <!-- Product -->
  <section class="product-section" id="product-section">
    <div class="hidden-fade">
      <h2 class="header-pink">Visit Us!</h2>
      <p class="plain-text">Come visit us at our original shop</p>
      <p class="plain-text">
        123 Sweet Street, NY 12345
      </p>
      <button class="btn-primary"> <a href="/shop">Order Online! </a></button>
    </div>
    <img class="hidden-slide-r"src="/static/images/Product_Photos/Store-Front (1).png" alt="Waffles N' Scoop Store front">
  </section>
  <!-- Origin -->
  <section class="origin-section" id="origin-section">
    <img class="hidden-slide-l"src="/static/images/Product_Photos/American Old Fashioned Ice Cream Parlor _ Enjoy Illinois _ Enjoy Illinois.jpeg" alt="Waffles n' Scoop owner holding stack of cones" />
    <div class="origin-text hidden-fade">
      <h2 class="header-blue">Our Story</h2>
      <p class="plain-text">
        <i style="font-size: 2rem;">M</i>eet Mr. Harold "Harry" Thompson, an ice cream artisan whose life has been a delightful swirl of passion and perseverance. 
        For six decades, Harry has been crafting ice cream, starting in his grandmother’s buisness. Using the hand-cranked machine and turning his love for 
        the craft into a thriving business, Waffle N' Scoop. He’s poured his heart into every batch, creating flavors 
        that range from classic strawberry to inventive delights like Coffee Javachip and Cotton Candy Blitz. 
      </p>
        <p style="font-size: 1.3rem; color: #FF8DB5">
          <i style="text-align: center;">“Ice cream is my happiness”</i> 
        </p>
        <p class="plain-text info-p">
          <i style="font-size: 2rem;">H</i>e says, his hands dusted with powdered sugar. “When I see someone’s
          face light up after that first bite, it fills my heart. This isn’t just a business—it’s my life’s work.” Harry’s dedication and kindness have made 
          him a local legend, spreading sweetness, one scoop at a time.
        </p>
      </div>
  </section>
    <!-- Gallery -->
  <section class="gallery-section" aria-label="Gallery">
    <h2 style="color:#332100;">Our Customer's Experience</h2>
    <div class="carousel" data-carousel>
      <ul data-slides>
        <li class="carousel-item">
          <img src="/static/images/Customers_Photos/_Woman Licking Ice-cream_ by Stocksy Contributor _Brat Co_.jpeg" alt="Customer licking ice-cream">
        </li>
        <li class="carousel-item">
          <img src="/static//images/Customers_Photos/Beach children who eat ice cream Stock Photo 02 free download.jpeg" alt="Boy at beach enjoying ice-cream">
        </li>
        <li class="carousel-item">
          <img src="/static/images/Customers_Photos/Childhood_Essentials-SS24.jpeg" alt="Girl enjoying ice-cream">
        </li>
        <li class="carousel-item">
          <img src="/static/images/Customers_Photos/Red_striped_lady.jpeg" alt="Customer enjoying ice-scream">
        </li>
        <li class="carousel-item">
          <img src="/static/images/Customers_Photos/Jeune garçon et sa glace.jpeg" alt="Boy enjoying ice-cream">
        </li>
        <li class="carousel-item" data-active>
          <img src="/static/images/Customers_Photos/Friends_eating_ice_cream.jpeg" alt="Two customers enjoying ice-cream">
        </li>
      </ul>
    </div>
  </section>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
<script src="{{ url_for('static', filename='js/observer.js') }}"></script>
{% endblock %}