{% extends "layout.html" %}

{% block title%}
Waffles N' ScoopLanding
{% endblock %}

{% block main%}
<div class="container">
  <h1>Cart Shopping</h1>
  <a href="/shop"> < Shop</a>
  {% if cart_items%}
    {% for i in range(cart_items|length)%}
    <ul class="cart-items-container">
      <li class="cart-item-row">
        <img style="width: 100px; height: 150px;" src="/static/images/Product_Photos{{cart_items[i]['image']}}" alt="">
        <p class="cart-item-price">{{ cart_items[i].name }} - ${{ "%.2f"|format(cart_items[i].price) }}</p>
        <p class="cart-item-quantity"> Amount #{{ cart_items[i].quantity }}</p>
    
      <!-- Remove Item Form -->
        <form  onsubmit="removeCartItem(event, '{{cart_items[i].id}}')">
          <button class="remove-btn" type="submit">Remove</button>
        </form>
        <hr/>
      </li>
    </ul>
    {% endfor %}
    <p class="cart-subtotal">Subtotal: ${{subtotal}}</p>
    <p class="cart-tax-percent">Tax: ${{tax}} </p>
    <h2 class="cart-total">Total: ${{ total }}</h2>
    <a href="/checkout"> Check out </a>
  {% else %}
  <p>Your Cart is empty</p>
  {% endif %}
</div>
{% endblock %}
{%block javascript%}
<script src="{{ url_for('static', filename='js/removeCartItem.js')}}"></script>
{% endblock%}
