{% extends "layout.html" %}

{% block title%}
Waffles N' ScoopLanding
{% endblock %}

{% block main%}
<div>
  <!-- Header -->
  <section class="header-section">
    <img src="/static/images/friends_and_ice_cream.jpeg" alt="">
    <h1 class="header-text">Home made Crunch, Natural Experience</h1>
  </section>
  <!-- Product -->
  <section class="product-section">
    <div>
      <h2 class="header-pink">New! Birthday Confetti Cake! </h2>
      <p>
        Try our new Birthday Confetti Cake ice cream!
      </p>
    </div>
    <img src="/static/images/Birthday_cake.jpeg" alt="">
  </section>
  <!-- Gallery -->
  <section class="gallery-section" aria-label="Gallery">
    <div class="carousel" data-carousel>
      <!-- <button class="carousel-button prev" data-carousel-button="prev">&#9664;</button>
      <button class="carousel-button next" data-carousel-button="next">&#9654;</button> -->
      <ul data-slides>
        <li class="carousel-item" data-active>
          <img src="/static/images/pexels-brigitte-tohm-36757-171255.jpg" alt="">
        </li>
        <li class="carousel-item">
          <img src="/static//images//pexels-marc-schulte-656598-1978181.jpg" alt="">
        </li>
        <li class="carousel-item">
          <img src="/static/images/pexels-myersmc16-919273.jpg" alt="">
        </li>
        <li class="carousel-item">
          <img src="/static/images/pexels-valeriiamiller-2546921.jpg" alt="">
        </li>
        <li class="carousel-item">
          <img src="/static/images/ice_cream_sprinkle_cone.jpeg" alt="">
        </li>
      </ul>
    </div>
  </section>
  <!-- Call-to-Action -->
  <section class="CTA-section">
    <!-- <h2 class="header-blue">Your Next Crunch!</h2>
    <p>
      At Waffle N' Scoop, we’re all about combining the warmth of waffles with the cool joy of ice cream. 
      Whether you’re craving a classic cone, a decadent sundae, or our signature waffle bowls, we’ve got something 
      to satisfy every sweet tooth. Made with love and the finest ingredients, every bite is a little piece of happiness. 
      Stop by and discover why we’re the talk of the town!
    </p> -->
  </section>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='/carousel.js') }}"></script>
{% endblock %}