{% extends "layout.html" %}

{% block title%}
Waffles N' ScoopLanding
{% endblock %}

{% block main%}
  <!-- Header -->
  <section class="header-section">
    <img src="/static/images/Ice_cream_Photos/Ice-Cream-Best.jpeg" alt="Triple scoop Strawberry, Coffee & Chocolate">
    <h1 class="header-text hidden-slide-r">Homemade Crunch, Natural Experience</h1>
  </section>
  <!-- Product -->
  <section class="product-section ">
    <div class="hidden-slide-l">
      <h2 class="header-pink">New! Birthday Confetti Cake! </h2>
      <p class="plain-text ">
        Try our new Birthday Confetti Cake ice cream!
      </p>
    </div>
    <img class='hidden-slide-r' src="/static/images/Ice_cream_Photos/Birthday-Cake-Ice-Cream.jpeg" alt="Birthday cake ice-cream Special">
  </section>
  <!-- Gallery -->
  <section class="gallery-section" aria-label="Gallery">
    <div class="carousel" data-carousel>
      <ul data-slides>
        <li class="carousel-item" data-active>
          <img src="/static/images/Ice_cream_Photos/pexels-valeriiamiller-2546921.jpg" alt="Customer holding strawberry ice-cream">
        </li>
        <li class="carousel-item">
          <img src="/static/images/Ice_cream_Photos/pexels-brigitte-tohm-36757-171255.jpg" alt="Customer holding two-scoop ice-cream Strawberry & Vanilla">
        </li>
        <li class="carousel-item">
          <img src="/static/images/Ice_cream_Photos/pexels-myersmc16-919273.jpg" alt="Customer holding ice-cream with waffle cookie">
        </li>
        <li class="carousel-item">
          <img src="/static/images/Ice_cream_Photos/pexels-marc-schulte-656598-1978181.jpg" alt="Customer holding two-scoop ice-cream Sorbet & Vanilla">
        </li>
        <li class="carousel-item">
          <img src="/static/images/Ice_cream_Photos/ice_cream_sprinkle_cone.jpeg" alt="Customer holding triple scoop in sprinkle cone">
        </li>
      </ul>
    </div>
  </section>
  <!-- Call-to-Action -->
  <section class="CTA-section">
    <h2 class="header-blue hidden-slide-r">Your Next Crunch!</h2>
    <p class="plain-text info-p hidden-fade">
      <i style="font-size: 2rem;">A</i>t Waffle N' Scoop, we’re all about combining the warmth of waffles with the cool joy of ice cream. 
      Whether you’re craving a classic cone, a decadent sundae, or our signature waffle bowls, we’ve got something 
      to satisfy every sweet tooth. Made with love and the finest ingredients, every bite is a little piece of happiness. 
      Stop by and discover why we’re the talk of the town!
    </p>
  </section>

{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
<script src="{{ url_for('static', filename='js/observer.js') }}"></script>
{% endblock %}