<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Waffle N' Scoop</title>
</head>
<body>
  <nav>
    <div>
      <div>
        <img src="" alt="">
      </div>
      <ul class="nav-container">
        <li class="nav-item" href="/about">About</li>
        <li class="nav-item" href="/sign-in">Sign-in</li>
        <li class="nav-item" href="/cart">Cart</li>
      </ul>
    </div>
  </nav>
  <h1>Hello Sandra. Its' Manny</h1>
</body>
</html>