<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/static/images/Product_Photos/Waffle-ICon.png">
  <link rel="stylesheet" href="/static/style.css">
  <title>Waffle N' Scoop</title>
</head>
<body>
  <main>
  <nav >
    <div class="nav-container">
      <div class="nav-logo-container">
        <a href="/"><img class="logo-img"src="../static/images/Product_Photos/Waffle_N_Scoop_logo.png" alt="Logo"></a>
      </div>
      {% if session["user_id"] %}
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link"href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link"href="/profile">Profile</a></li>
        <li class="nav-item"><a class="nav-link"href="/shop">Shop</a></li>
        <li class="nav-item"><a class="nav-link"href="/logout">Sign-out</a></li>
        <li class="nav-item">
          <a class="nav-link cart-icon" href="/cart">
            <img class="svg-icon" src="/static/images/svg/cart-large-minimalistic-Brown.svg" alt="">
          </a>
      </li>
      </ul>
      {% else %}
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link"href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link"href="/shop">Shop</a></li>
        <li class="nav-item"><a class="nav-link"href="/login">Sign-in</a></li>
        <li class="nav-item"><a class="nav-link" href="/cart"><img class="svg-icon" src="/static/images/svg/cart-large-minimalistic-Brown.svg" alt=""></a></li>
      </ul>
      {%endif%}
    </div>
  </nav>
    {% block main %}{% endblock %}
    {% block javascript %}{% endblock %}
    <footer>
      <section>
        <h2>Join Our Newsletter</h2>
        <input type="text" placeholder="Email">
        <img src="" alt="">
      </section>
      <section class="socials-container">
        <h2>Follow Us</h2>
        <ul class="logos-container">
          <li ><img class="social-logo" src="/static/images/svg/Bluesky-Brown.svg" alt=""></li>
          <li ><img class="social-logo" src="/static/images/svg/instagram-svgrepo-com (2).svg" alt=""></li>
          <li ><img class="social-logo" src="/static/images/svg/tiktok-svgrepo-com.svg" alt=""></li>
        </ul>
      </section>
      <section>
        <h2> More Info</h2>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/about#product-section">Location</a></li>
        </ul>
      </section>
    </footer>
  </main>
</body>
</html>