<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Waffle N' Scoop</title>
</head>
<body>
  <nav class="nav-container">
      <div class="nav-logo-container">
        <a href="/"><img src="../static/images/Waffle-N-Scoope-Logo.png" alt="Logo"></a>
      </div>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link"href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link"href="/sign-in">Sign-in</a></li>
        <li class="nav-item"><a class="nav-link"href="/cart">Cart</a></li>
      </ul>
  </nav>
  <main>
    {% block main %}{% endblock %}
    {% block javascript %}{% endblock %}
  </main>
  <footer>
    
  </footer>
</body>
</html>