{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
  <section class="login-container auth-forms">
    <h1>Login</h1>
    {% if error%}
      <p style="color:red;">{{ error }}</p>
    {%endif%}
    <form class="form-container" action="/login" method="post">
        <div class="input-container username">
            <input autocomplete="off" autofocus class="input-fields" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="input-container password">
            <input class="input-fields" name="password" placeholder="Password" type="password" required>
        </div>
        <button class="btn-primary" type="submit">Log In</button>
    </form>
    <br>
    <p>Need an Account? <a href="/register"> Register </a></p>
  </section>
{% endblock %}
