{% extends "layout.html" %}

{% block title%}
Waffles N' ScoopLanding
{% endblock %}

{% block main%}
<section class="container">
  <h1>Profile</h1>
    <form class="profile-container" action="/profile" method="post">
      <div class="profile-form-t-container">
        {% if not name %}
        <input autocomplete="off" autofocus class="profile-fields" name="name" placeholder='Name' type="text" >
        {% else %}
        <input autocomplete="off" autofocus class="profile-fields" name="name" placeholder='{{ name }}' type="text" value="{{ name }}" >
        {% endif %}
        <!-- EMAIL -->
        {% if not email %}
        <input autocomplete="off" autofocus class="profile-fields" name="email" placeholder='Email' type="text" >
        {% else %}
        <input autocomplete="off" autofocus class="profile-fields" name="email" placeholder='{{ email }}' type="text" value="{{ email }}" >
        {% endif %}
        <!-- DESCRIPTION -->
        {% if not user_description %}
        <textarea class="profile-fields text-fields" name="user_description" placeholder="About You" type="text" rows="5" cols="10"></textarea>
        {% else %}
        <textarea class="profile-fields text-fields" name="user_description" placeholder="{{ user_description }}" value="{{ user_description }}"type="text" rows="10" cols="15"></textarea>
        {% endif %}
      </div>
      <div class="profile-form-b-container">
        <p>Id: ###</p>
        <button class="btn-primary" type="submit">Edit Profile</button>
      </form>
    </div>
</section>
{% endblock %}