{% extends "layout.html" %}

{% block title%}
Waffles N' ScoopLanding
{% endblock %}

{% block main%}
<section class="container">
  <h1>Profile</h1>
    <div class="profile-container">
      <div class="profile-form-t-container">
        {% if not name %}
        <p aria-placeholder="Name"></p>
        {% else %}
        <p>{{ name }}</p>
        {% endif %}
        <!-- EMAIL -->
        {% if not email %}
        <p aria-placeholder="Email"></p>
        {% else %}
        <p>{{email}}</p>
        {% endif %}
        <!-- DESCRIPTION -->
        {% if not user_description %}
        <p aria-placeholder="About You"> </p>
        {% else %}
        <p> {{user_description}}</p>
        {% endif %}
      </div>
      <div class="profile-form-b-container">
        {% if user_id%}
        <p>Id: #{{ user_id}}</p>
        {%else %}
        <p>Id: ###</p>
        {%endif%}
        <button class="btn-primary"><a href="/edit-profile">Edit Profile</a></button>
      </div>
    </div>
</section>
{% endblock %}