{% extends "layout.html" %}

{% block title%}
Waffles N' ScoopLanding
{% endblock %}

{% block main%}
<section class="container">
  <h1>Profile</h1>
    <div class="profile-container">
      <div class="profile-form-t-container">
        {% if not name %}
        <p class="profile-fields profile-name">Name</p>
        {% else %}
        <p class="profile-fields profile-name">{{ name }}</p>
        {% endif %}
        <!-- EMAIL -->
        {% if not email %}
        <p class="profile-fields profile-name" >Email</p>
        {% else %}
        <p class="profile-fields profile-name" >{{email}}</p>
        {% endif %}
        <!-- DESCRIPTION -->
        {% if not description %}
        <p class="profile-fields profile-name">About You </p>
        {% else %}
        <p class="profile-fields profile-name"> {{ description }}</p>
        {% endif %}
      </div>
      <div class="profile-form-b-container">
        {% if user_id %}
        <p>User's ID: #{{ user_id }}</p>
        {%else %}
        <p>Id: ###</p>
        {%endif%}
        <a class="btn-primary" href="/edit-profile">Edit Profile</a>
      </div>
    </div>
</section>
{% endblock %}