{% extends "layout.html" %}

{% block title%}
Waffles N' Scoop Landing
{% endblock %}

{% block main%}
<div class="container">
  <h1>Shop</h1>
      <ul class="all-product-container">
        {% for i in range(ice_creams|length) %}
        <div class="full-product-container">
          <img class="product-image"src="/static/images/Product_Photos/{{ice_creams[i].image}}" alt="">
          <li >
            <div class="product-info-container">
              <h3 class="product-title"> {{ ice_creams[i].name}} </h3>
              <p class="product-desc"> {{ice_creams[i].description}}</p>
              <p class="product-price">{{ ice_creams[i].price }}</p>
            </div>
          </li>
        </div>
        {% endfor%}
      </ul>
</div>
{% endblock %}