{% extends "layout.html" %}

{% block title%}
Waffles N' Scoop Landing
{% endblock %}

{% block main%}
<div class="container shop-container">
  <h1>Shop</h1>
  <a class="view-cart-container link-btn" href="/cart">
    <img src="/static/images/svg/cart-large-minimalistic-Brown.svg" style="width: 2rem; height: 2rem;" alt="Cart"> 
    <p>View Cart > </p>
  </a>
    <ul class="all-icecreams-container hidden-fade">
      {% for i in range(ice_creams|length) %}
      <div class="full-product-container ice-cream">
        <img class="product-image"src="/static/images/Product_Photos/{{ice_creams[i].image}}" alt="{{ ice_creams[i].name}}" />
        <li >
          <div class="product-info-container">
            <h3 class="product-title"> {{ ice_creams[i].name}} </h3>
            <p class="product-desc"> {{ice_creams[i].description}}</p>
            <form onsubmit="addToCart(event, '{{ ice_creams[i].id }}')">
              <input type="hidden" name="product_id" value="{{ ice_creams[i].id }}">
              <p class="product-price">${{ ice_creams[i].price }}</p>
              <div class="quantity-controls">
                <button type="button" class="quantity-btn btn-left" onclick="decrementQuantity(this)">-</button>
                <input type="number" name="quantity" class="quantity-input" value="1" min="1" max="10">
                <button type="button" class="quantity-btn btn-right" onclick="incrementQuantity(this)">+</button>
              </div>
              <button class="add-product-btn" type="submit">Add to Cart</button type="submit">
            </form>
          </div>
        </li>
      </div>
      {% endfor%}
    </ul>
    <ul class="all-foods-container hidden-fade">
      {% for i in range(foods|length) %}
      <div class="full-product-container food">
        <img class="product-image food"src="/static/images/Product_Photos/{{foods[i].image}}" alt="{{foods[i].name}}" />
        <li >
          <div class="product-info-container">
            <h3 class="product-title"> {{ foods[i].name}} </h3>
            <p class="product-desc"> {{foods[i].description}}</p>
            <form onsubmit="addToCart(event, '{{ foods[i].id }}')">
              <input type="hidden" name="product_id" value="{{ foods[i].id }}">
              <p class="product-price">${{ foods[i].price }}</p>
              <div class="quantity-controls">
                <button type="button" class="quantity-btn btn-left" onclick="decrementQuantity(this)">-</button>
                <input type="number" name="quantity" class="quantity-input" value="1" min="1" max="10">
                <button type="button" class="quantity-btn btn-right" onclick="incrementQuantity(this)">+</button>
              </div>
              <button class="add-product-btn" type="submit">Add to Cart</button type="submit">
              </form>
          </div>
        </li>
      </div>
      {% endfor%}
    </ul>
    <hr>
    <ul class="all-merchandise-container hidden-fade">
        {% for i in range(merch|length) %}
        <div class="full-product-container merch">
          <img class="product-image merch"src="/static/images/Product_Photos/{{merch[i].image}}" alt="{{merch[i].name}}" />
          <li >
            <div class="product-info-container">
              <h3 class="product-title"> {{ merch[i].name}} </h3>
              <p class="product-desc"> {{merch[i].description}}</p>
              <form onsubmit="addToCart(event, '{{ merch[i].id }}')">
                <input type="hidden" name="product_id" value="{{ merch[i].id }}">
                <p class="product-price">${{ merch[i].price }}</p>
                <div class="quantity-controls">
                  <button type="button" class="quantity-btn btn-left" onclick="decrementQuantity(this)">-</button>
                  <input type="number" name="quantity" class="quantity-input" value="1" min="1" max="10">
                  <button type="button" class="quantity-btn btn-right" onclick="incrementQuantity(this)">+</button>
                </div>
                <button class="add-product-btn" type="submit">Add to Cart</button type="submit">
              </form>
            </div>
          </li>
        </div>
        {% endfor%}
    </ul>
</div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/addToCart.js')}}"></script>
<script src="{{ url_for('static', filename='js/quantityControls.js')}}"></script>
<script src="{{ url_for('static', filename='js/observer.js')}}"></script>
{% endblock%}